body {
    background: rgb(116, 185, 218);
}


h1 {
    color: rgb(46, 55, 187);
}

h3 {
    background: white;
    text-align: center;
}

.green-text{
    color: green;
}

.green-text:hover{
    color: rgb(170, 55, 55);
}

